MINIPORTAL_ENV=production

# mysql (also used for MariaDB) or pgsql (PostgreSQL)
MINIPORTAL_DATABASE_ENGINE=mysql
MINIPORTAL_DATABASE_HOST=127.0.0.1
MINIPORTAL_DATABASE_PORT=3306
MINIPORTAL_DATABASE_NAME=miniportal
MINIPORTAL_DATABASE_USER=miniportal
MINIPORTAL_DATABASE_PASSWORD=change-me
